@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {  
      --bg-color: #1f242d;
      --second-bg-color: #323946;
      --text-color: #fff;
      --main-color: #00ff99;
      --accent-color-1: #45a29e;
    --accent-color-2: #c5c6c7; 
    --accent-color-3: #66fcf1; 
}

html {
     font-size: 62.5%;
     overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}



section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    position: relative;
}

/* Ajoutez ces media queries pour améliorer la réactivité */

@media (max-width: 768px) {
    .home-content h1 {
        font-size: 4rem;
    }

    .home-content h3 {
        font-size: 2.2rem;
    }

    .home-img img {
        width: 60vw;
    }

    .about-img img {
        width: 60vw;
    }

    .portfolio-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .navbar a {
        font-size: 1.8rem;
        margin: 1rem 0;
    }

    .header {
        padding: 2rem 5%;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-iconTop {
        margin-top: 2rem;
    }
}

@media (max-width: 480px) {
    .home-content h1 {
        font-size: 3.5rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .home-img img {
        width: 80vw;
    }

    .about-img img {
        width: 80vw;
    }

    .contact form .input-box input {
        width: 100%;
    }

    .navbar a {
        font-size: 1.6rem;
    }

    .header {
        padding: 2rem 3%;
    }

    .footer-text p {
        font-size: 1.4rem;
    }
}

@media (max-width: 320px) {
    .home-content h1 {
        font-size: 3rem;
    }

    .home-content h3 {
        font-size: 1.8rem;
    }

    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .navbar a {
        font-size: 1.4rem;
    }

    .footer-text p {
        font-size: 1.2rem;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 20%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 2px dashed var(--main-color);
}

.header.sticky {
    border-bottom: .1rem solid rgba(0,0,0, .2);
}
.navbar {
    position: absolute;
    top: 10;
    right: 0;
    padding: 10px 100px;
}


.navbar a {
    font-size: 1.4rem;
    color: 0 0 10px var(--second-bg-color), 0 0 15px rgba(0, 255, 153, 0.3);
    margin-left: 4rem;
    transition: 0.3s;
    padding: 10px 15px;
    border-radius: 15px;
    background: var(--bg-color);
    box-shadow: 0 0 10px var(--second-bg-color), 0 0 15px rgba(0, 255, 153, 0.3);
    position: relative;
}

/* Effet lumineux plus intense au survol */
.navbar a:hover {
    box-shadow: 5 5 25px var(--main-color), 0 0 25px rgba(0, 255, 153, 0.5);
}


.navbar a:hover,
.navbar a.active {
    color: var(--main-color);

}

#toggleLanguageButton {
    position: none;
    top: 10px;
    right: 50px;
    cursor: pointer;
}

#toggleLanguageButton img {
    width: 24px; 
    height: 24px;
}




#menu-icon {
    display: none;
    cursor: pointer;
    font-size: 3.6rem;
    color: var(--text-color);
    margin-left: 44rem; /* Pousse le menu burger à droite */
}



.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
    margin-left: 4rem;
    transition: 4s;
}
.home-img img:hover {
    background: var(--bg-color);
    opacity: .10;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }

}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3 :nth-of-type(2) {
    margin-bottom: 2rem;

}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.8rem;
}

.bold-text {
    font-weight: bold;
  }

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50% ;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 2rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 700;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
} 

.about-img img{
    width: 30vw;

}
.about-img::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 80%;
    border-radius: 50%;
    border: 4px dashed var(--main-color);
    animation: rotateCircle 50s linear infinite;
    transform: translate(-50%, -50%);
}
/* Keyframes for rotating circle */
@keyframes rotateCircle {
    from {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

#hiddenContent {
    display: none;
    margin-top: auto;
}

  
.read-more-btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    cursor: pointer;
    text-decoration: none;
}

.read-more-btn:hover {
    box-shadow: none;
}



.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, var(--bg-color), var(--second-bg-color));
    padding: 5rem 0;
}

.heading {
    font-size: 4rem;
    margin-bottom: 80px;
    color: var(--main-color);
    text-align: center;
}

.heading span {
    color: var(--text-color);
}

.education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.education-column {
    flex: 1;
    max-width: 600px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.title {
    font-size: 2.5rem;
    margin: 15px;
    color: var(--main-color);
    text-decoration: underline;
    text-align: center;
}



.education-content {
    padding: 15px;
    background-color: var(--bg-color);
    margin-bottom: 40px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.education-content h3 {
    position: relative;
    padding-left: 1.5em; 
  }
  
  .education-content h3::before {
    content: '\2022';
    position: absolute;
    left: 0;
    color: #ffffff;
    font-weight: bold; 
    font-size: 1.2em;
  }
  

.education-content:nth-child(odd) {
    background-color: var(--second-bg-color);
}

.education-content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--main-color), transparent);
    z-index: -1;
}

.education-content:hover {
    transform: translateY(-5px);
}

.year {
    font-size: 1.2rem;
    color: var(--main-color);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.year i {
    margin-right: 6px;
    color: var(--main-color);
    font-weight: bold;
}

h3 {
    font-size: 1.6rem;
    margin-bottom: 8px;
    color: var(--text-color);
}



p {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.bxs-calendar {
    font-size: 1.4rem;
    margin-right: 6px;
    color: var(--main-color);
    transition: color 0.3s ease-in-out;
}

.education-content:hover .bxs-calendar {
    color: var(--text-color);
}

.location {
    font-size: 1.6rem;
    color: var(--main-color);
    margin-top: 6px;
    margin-bottom: 8px;
    margin-left: 20px;
}

.honors {
    margin-left: 46px;

}

.location i {
    margin-right: 10px; 
  }

.description {
    margin-left: 45px;
}


.technologies {
    margin-left: 45px;
    display: inline-block;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.technologies strong {
    text-decoration: underline; 
    font-weight: bold; 
    color: var(--text-color);
}

.technologies span {
    font-weight: normal;
}



.education-content .location {
    font-size: 1.4rem;
    color: var(--main-color);
    margin-top: 6px;
    
}

.education-content:hover .location {
    color: var(--text-color);
}

.honors {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 10px;
}


.portfolio {
    background: var(--second-bg-color);
}

.portfolio h2 {
margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.3);
    width: 100%;
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .8s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
    color: var(--text-color); /* Texte en noir */
    text-shadow: 
      -1px -1px 0 rgb(0, 0, 0),  
       1px -1px 0 rgb(0, 0, 0),
      -1px  1px 0 rgb(0, 0, 0),
       1px  1px 0 rgb(0, 0, 0); /* Contour blanc */
  }

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-block;  
    padding: 0.8rem 1.5rem; 
    background: var(--text-color);
    border-radius: 0.8rem;  
    text-decoration: none;  
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}



.skills {
    background: var(--bg-color);
    color: var(--text-color);
    padding: 10rem 9% 2rem;
}
  
.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}
  
.skills-category {
    text-align: center;
    padding: 2rem;
    background: var(--second-bg-color);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
  
.skills-category h3 {
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}
  
.skills-category ul {
    list-style-type: none;
    padding: 0;
}
  
.skills-category li {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s ease;
    overflow: visible;
    
}



.skills-category li:hover {
    transform: translateX(-90px); 
}
  


.skills-category li i {
    margin-right: 0.5rem;
    font-size: 2rem;
    color: var(--main-color);
}

.skills-category li .progress-bar-container {
    width: 0;
    max-width: 50%;
    height: 15px; 
    background: rgba(255, 255, 255, 0.2); 
    position: absolute;
    bottom: 0;
    top: 5px;
    left: 80%;
    border-radius: 8px; 
    transition: width 0.3s ease; 
    box-shadow: 0 0 1rem var(--main-color);
}

.skills-category li:hover .progress-bar-container {
    width: 100%;
}

.skills-category li .progress-bar {
    height: 100%;
    width: 0; 
    max-width: 100%;
    background: var(--main-color);
    border-radius: 10px; 
    transition: width 0.3s ease; 
}

.percent-text {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--bg-color); 
    margin-top: -17px;
}

.contact h2 {
    margin: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contact form .input-box  input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}






@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;

    }


}

section {
    padding: 10rem 3% 2rem;
}

.education {
    padding-bottom: 7rem;

}

.portfolio {
    padding-bottom: 7rem;
}

.contact {
    min-height: auto;
    padding-bottom: 10rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}
@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0, .2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }
    

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }


.home {
    flex-direction: column;

}

.home-content h3 {
    font-size: 2.6rem ;
}

.home-content h1 {
    font-size: 5rem;
}

.home-img img {
    width: 70vw;
    margin-top: 4rem ;
}

.about {
    flex-direction: column-reverse;
}

.about img {
    width: 70vw;
    margin-top: 4rem;
}



.portfolio-container {
    grid-template-columns: repeat(2, 1fr);

}
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;

    }

    .footer {
        flex-direction: column-reverse;
    
    }
    
    .footer p {
        text-align: center;
        margin-top: 2rem;
    }

   
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
.modal-content {
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    position: relative;
    text-align: center;

}


.modal-content img {
    max-width: 100%; 
    height: auto;
    display: block; 
    margin: 0 auto;
}



.close {
    position: absolute;
    top: -10px;
    right: 0px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

  
img#modalImage {
    width: 100%;
    height: auto;
}

 
.modal-content {
    animation: modalZoom 0.6s;
}
  
@keyframes modalZoom {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
}
  
  

.portfolio-layer a {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background: var(--bg-color);
    color: #ffffff;
    border: none;
    border-radius: 2rem;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
    font-weight: 600;
}

.portfolio-layer a:hover {
    background: var(--second-bg-color);
    transform: scale(1.10);
}

.portfolio-layer a i {
    font-size: 1.8rem;
    margin-right: 0.5rem;
}

.button-container {
    display: flex;
    gap: 1rem;
    color: white;
}


.button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background: var(--main-color);
    color: var(--second-bg-color);
    border: none;
    border-radius: 2rem;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
    font-weight: 600;
    cursor: pointer;
}

.button:hover {
    background: var(--second-bg-color);
    color: var(--main-color);
    transform: scale(1.05);
}

.arrow-button {
    position: absolute;
    top: 45%;
    right: -30px; 
    font-size: 20px; 
    cursor: pointer;
    color: #fff;
    transition: none; 
  }
  
.arrow-button:hover {
    color: #fff;
}
  .arrow-button:focus {
    outline: none;
    margin: 0;
}


.arrow-buttonl {
    position: absolute;
    top: 45%;
    left: -30px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    transition: none; 
  }
  
.arrow-buttonl:hover {
    color: #fff; 
}
  .arrow-buttonl:focus {
    outline: none; 
    margin: 0;
}







